[package]
name = "strkit_rust_ext"
version = "0.8.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "strkit_rust_ext"
crate-type = ["cdylib"]

[dependencies]
entropy = "0.4.2"
pyo3 = "0.20.2"
