[package]
name = "strkit_rust_ext"
version = "0.15.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "strkit_rust_ext"
crate-type = ["cdylib"]

[dependencies]
bio = "2.0.3"
numpy = "0.21"
pyo3 = { version = "0.21", features = ["gil-refs"] }
bytecount = "0.6.8"
rust-htslib = { version = "0.47", features = ["libdeflate"] }
strsim = "0.11"
parasail-rs = "0.7.3"
once_cell = "1.19.0"
