[package]
name = "strkit_rust_ext"
version = "0.11.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "strkit_rust_ext"
crate-type = ["cdylib"]

[dependencies]
# bio = "1.5.0"
bio = { git = "https://github.com/lorewar2/rust-bio.git", rev = "b1d1200f2c9f58e0540d921fed15fb10a5810b3e" }
numpy = "0.21"
pyo3 = { version = "0.21", features = ["gil-refs"] }
bytecount = "0.6.8"
rust-htslib = "0.47"
strsim = "0.11"
