[package]
name = "strkit_rust_ext"
version = "0.18.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "strkit_rust_ext"
crate-type = ["cdylib"]

[dependencies]
bio = "2.0.3"
numpy = "0.22"
pyo3 = { version = "0.22" }
bytecount = "0.6.8"
# exclude curl from rust-htslib by turning off default features and putting back bzip2 + lzma for CRAMs
rust-htslib = { version = "0.48", default-features = false, features = ["bzip2", "lzma", "libdeflate"] }
strsim = "0.11"
parasail-rs = "=0.7.3"
libparasail-sys = "=0.1.6"
once_cell = "1.19.0"
